body{
	/*background-color: #1F1F1F;*/
	background-image: url(../assets/MapaJ3.png);
	position: fixed;
}

#game{
	
}	

/*canvas { 
	background-image:url("/assets/fondo_9.jpg");
	border: 5px solid black;
}*/
.container1{
	/*background-color: #A9E2F3;*/
	/*background-color: #D8D8D8;*/
	background-color: white;
	font-size: 20px;
    text-align: left;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 150px;
    width:1000px;
    opacity: 0.9;
}

.container2{
	/*background-color: #E6E6E6;*/
	background-color: silver;
	font-size: 20px;
    text-align: center;
	/*background-color: #A9BCF5;*/
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
    height: 150px;
    width:1000px;
    opacity: 0.9;
}

.container3{
	/*height: 20px;*/
	background-color: transparent;
}


.container4{
	/*background-color: #A9F5D0;*/
	background-color: silver;
	background-opacity:0.2;
	font-size: 20px;
    text-align: center;
	/*background-color: #A9BCF5;*/
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
    height: 150px;
    width:1000px;
    opacity: 0.9;
}

.div1{
	text-align: left;
	border-spacing: 10px;
	opacity: 1;
}

.div2{
	background-color: white;
}

.row{
	border-spacing: 10px;
	opacity: 1;
}

button{
	background-size: cover;
	border-spacing: 5px;
	opacity: 1;
}

div{
	
}
#prison{
	font-size: 15px;
	font-weight: 2;
	color: red;
}

